@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

html.dark body {
  background-color: #020617;
  color: #f8fafc;
}
/* Hide Microsoft Edge password reveal icon */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  background: inherit;
}

/* ===========================
   Dark Mode Date Picker Icon
=========================== */

.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(2);
    cursor: pointer;
}